# --- LangChain stack (versiones compatibles) ---
langchain
langchain-core
langchain-experimental
langchain-google-genai


google-cloud-storage
# --- API (FastAPI + server para Cloud Run) ---
fastapi
uvicorn
gunicorn

# Si vas a recibir archivos (multipart/form-data) en endpoints
python-multipart>=0.0.9

# Si haces llamadas HTTP salientes (APIs externas)
httpx

# --- NLP / ML ---
transformers
numpy

# --- Validaciones / utils ---
pydantic[email]
python-dotenv

# --- DB ---
psycopg2-binary

# --- PDF -> JPG (PyMuPDF) ---
pymupdf

# --- Otros ---
pandas
openpyxl
pyyaml


https://carlos.alberto.diaz@segurosbolivar.com:cmVmdGtuOjAxOjE3NzM1MTcyOTM6d0dLcmdIOEFaY0F2MHpZNEJCTGFZZkdRUUJ5@segurosbolivar.jfrog.io/artifactory/transversal-ia-langchain-python-lib-dev-virtual/ia_transversal_langchain_python_lib/2.6.3/ia_transversal_langchain_python_lib-2.6.3-py3-none-any.whl
